
#Header{
	background: #5AA394;
	border: 1px solid #979797;
	width: 100%;
    display: flex;
}
img{
	width:25%;
	height:25%;
	flex-grow: 1;
    flex-basis: 25%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

  .nav-meta{margin-right:10px;margin-bottom:20px;font-size:13px;line-height:20px;position:absolute;top:0;right:0}
  @media screen and (max-width:1023px){.nav-meta{font-size:17px;line-height:26px}}.nav-meta li{display:inline-block}.nav-meta li.current a{background-color:#78869f;color:#fff}.nav-meta a{border-radius:30px;display:inline-block;padding:1px 10px}
  @media screen and (min-width:1024px)


.nav-meta__language{display:inline-block;margin-right:50px}
.nav-meta__language i{display:none}}
@media screen and (max-width:1023px){
  .nav-meta__language{z-index:50000;margin-top:10px;padding-right:10px;position:absolute;top:0;right:0;font-size:15px;line-height:22px;text-align:right}
@media screen and (max-width:1023px){
  .nav-meta__language{font-size:17px;line-height:26px}
}
.nav-meta__language a{display:none}
.nav-meta__language a i{display:none;line-height:1em}
.nav-meta__language .current a,.nav-meta__language .current a i{display:inline-block}
.nav-meta__language.expanded{margin-top:-1px;border:1px solid #b3bccd;background-color:#fff;box-shadow:rgba(120,134,159,.2) 0 5px 20px}
.nav-meta__language.expanded a{display:block;padding:10px 30px}
.nav-meta__language.expanded a i{display:none}
.nav-meta__language.expanded .current a{font-weight:700}
}

#translation{	
	float:right;
	padding:10px;
	font-family: BerninoSans-Regular;
	font-weight:700;
	font-size: 12px;
	color: #ffffff;
}

#bliwebsite{
	float:right;
	margin-top:20px;
	padding:10px;
	font-family: BerninoSans-Regular;
	font-weight:300;
	font-size: 12px;
	color: #ffffff;

}

#contactus{
	float:right;
	margin-top:20px;
	padding:10px;
	font-family: BerninoSans-Regular;
	font-weight:300;
	font-size: 12px;
	color: #ffffff;

}

#title{
	flex-grow: 1;
  	flex-basis: 75%;
}

h1{
	font-family: BerniniSans-Italic;
	font-size: 40px;
	color: #FFFFFF;
	text-align:center;
	margin-top: 10%;
	margin-bottom: 2%;
	letter-spacing: 0;
}
button{
	margin:auto;
  	display:block;
	background-image: linear-gradient(-180deg, #D8D8D8 0%, #B3B3B3 100%);
	border: 1px solid #979797;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20), inset 0 2px 0 0 #FFFFFF;
	border-radius: 6px;
	font-family: CaeciliaLTStd-Bold;
	font-size: 20px;
	color: #4A4A4A;
	letter-spacing: 0;
	text-shadow: 0 1px 0 #FFFFFF;

}

#Presentation{
	max-width:900px;
	margin: auto;
}
h2{
	font-family: CaeciliaLTStd-LightItalic;
	font-size: 36px;
	margin-top: 5%;
	color: #464646;
}

.paragraph{
	font-family: BerninoSans-Regular;
	font-size: 18px;
	color: #464646;
	margin-top:5px;
	margin-bottom:20px;
}


.media-box{
	background:rgba(127,127,127,0.1);
	width:28%;
	margin:1%;
	display: block;
	float:left;
	padding:1%;
}

.img-box{
	width:50%;
	display: block;
	margin:auto;
}

.number-box{
	text-align:center;
	font-family: BerninoSans-Regular;
	font-size: 24px;
	font-weight: 900;

}
.title-box{
	text-align:center;
	margin-bottom: 10px;
	margin-top:10px;
	font-family: BerninoSans-Regular;
	font-size: 18px;
	font-weight: 700;

}

.desc-box{
	height:100px;
	margin:auto;
	text-align:center;
	font-family: BerninoSans-Regular;
	font-size: 18px;

}

#footer{
	clear:both;
	float:right;
	display: block;
	margin-top: 2.5%;
}

#footerLogo{
}

#oecdwebsite{
	color:#0000EE;
}

@media screen and (max-width:600px){
	.media-box{
		width:48%;
	}

	#translation{	
		font-size: 10px;
	}

	#bliwebsite{
		font-size: 10px;

	}

	#contactus{
		font-size: 10px;

	}


	h1{
		font-size: 24px;
	}

	h2{
		font-size: 16px;
		}

	.paragraph{
		font-size: 12px;
	}


	.number-box{
		font-size: 18px;

	}
	.title-box{
		font-size: 14px;

	}

	.desc-box{
		font-size: 10px;

	}
}

@media screen and (max-width:300px){
	.media-box{
		width:98%;
	}

}